.footer{
    &__container{
        background-color: $black;
        width: 100%;
        margin-top: -1.3em;
        height: 26.5vh;
    }

    &__col{
        &--left{
            width: 40%;
            margin-left: 8em;
            .footer__list {
                list-style-type: none;

                &--item {
                    margin-bottom: 1em;
                    a{
                    color: $white;
                    font-weight: $font-weight-light;
                    &:hover{
                        border-bottom: 2px solid $white;
                        transition: 200ms;
                    }
                    }

                    
                }
            }

        }

        &--middle{
            padding: 7em 40em 0 12.5em;
            h2{
                color: $white;

            }
            p:last-child{
                margin-top: 5em;
                
            }
        }

       
    }
}