.footer{
    &__container{
        background-color: $black;
        width: 100%;
        margin-top: -1.3em;
        height: 26.5vh;
    }

    &__col{
        &--left{

            .footer__list {
                list-style-type: none;

                &--item {
                    color: $white;
                    font-weight: $font-weight-light;
                }
            }

        }

        &--middle{

        }

        &--right{

        }
    }
}