.slider {

  &__col {

    &--right {
      span {
        margin-top: 3em;
      }

      a {
        font-size: 1em;
        letter-spacing: 0.9em;
        color: $black;
        font-weight: $font-weight-regular;
      }
      

      svg {
        margin-left: 3em;
      }
    }

    &--content{
      padding: 7em 7.5em;

      a:hover {
        color: $grey-dark;
        transition: 250ms;
      }
      a:hover path {
        fill: $grey-dark;
        transition: 250ms;
      }
    }
  }

  &__arrows {
    margin-top: -0.83em;

    &.arrow{
    display: inline-block;
    position: relative;
    background-color: black;
    width: 80px;
    height: 80px;
    margin-right: -3px;

    &:hover{
      background-color: $grey-very-dark;
      transition: 250ms;
    }

    svg {
      position: absolute;
      top: 36%;
      right: 41%;
    }
    }
  }
}
